<!DOCTYPE html>
<html ng-app="directivePractice">
  <head>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="lessonCtrl">
    <div class="wholeDamnDiv">

    <h1>Lessons for the Week</h1>
    <ul>
      <lesson-hider
          ng-repeat="lesson in lessons"
          lesson= "lesson"
          day-alert="announceDay(lesson, day)"
          delete-lesson="delete(lesson)">
      </lesson-hider>
    </ul>

    <div >
    <input ng-model="addLesson" class="newLesson" id="inputAddLesson"></input>
    <button type="submit" ng-click="add(addLesson)" class="lessonButton">SUBMIT NEW LESSON</button>
     </div>
   </div>


    <!--script tags below-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="js/lessonCtrl.js"></script>
    <script src="js/lessonHider.js"></script>
    <script src="js/lessonService.js"></script>
  </body>
</html>
